body {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 30%;
    background: url(./assets/background.jpg);
    background-size: contain;
    background-repeat: repeat;
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
}
git@github.com:fbw-d09/uib-boxmodel-backgroundimages-imadteryaki.git