.info{
    width: 30%;
    height: 20vh;
    color: white;
    display: inline-block;
    text-shadow: 1px 1px 1px black;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:20px;
    border-radius: 10px;
}

#info-1
{
    background-image: url(./assets/task2-bg.jpeg);
}
#info-2 
{
    background-image: url(./assets/task2-bg1.jpeg);
}
#info-3 
{
    background-image: url(./assets/task2-bg2.jpg);
}